* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

body.cursor-mouse-up {
  cursor: url(assets/guild-photo-2023/cursor_up.png) 4 0, pointer;
}

body.cursor-mouse-up button:hover {
  cursor: url(assets/guild-photo-2023/cursor_hover.webp) 4 0, pointer;
}

body.cursor-mouse-down {
  cursor: url(assets/guild-photo-2023/cursor_down.png) 4 0, pointer;
}

#root {
  position: relative;
  user-select: none;
}

.hide {
  display: none;
}

.cursor-container {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px red;
}
.cursor {
  position: absolute;
  top: 0;
  left: 0;
}

.loading-indicator {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

.menu-background {
  pointer-events: none;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.player-boss-card {
  position: absolute;
  top: 115px;
  left: 173px;
}

.player-button-container {
  position: absolute;
  top: 135px;
  left: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  height: 459px;
  overflow: hidden;
}

.scroll-button {
  all: unset;
  position: absolute;
  left: 24px;
  height: 13px;
  width: 135px;
}
.scroll-button:hover {
  background-position: 0 -13px;
}
.scroll-button:active {
  background-position: 0 -26px;
}
.scroll-button:disabled {
  background-position: 0 -39px;
}

.scroll-button.up {
  top: 118px;
  background-image: url("assets/guild-photo-2023/scrollup_button.png");
}
.scroll-button.down {
  top: 599px;
  background-image: url("assets/guild-photo-2023/scrolldown_button.png");
}

.player-button {
  all: unset;
  width: 135px;
  height: 30px;
  flex: 0 0 auto;
}
.player-button:hover {
  background-position: 0 -30px;
}
.player-button.active {
  background-position: 0 -60px;
}

.gotofridge-button {
  all: unset;
  position: absolute;
  bottom: 43px;
  right: 35px;
  width: 141px;
  height: 61px;
  background-image: url("assets/guild-photo-2023/gotofridge_button.png");
}
.gotofridge-button:hover {
  background-position: 0 -61px;
}
.gotofridge-button:active {
  background-position: 0 -122px;
}