* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

#root {
  position: relative;
}

.player-boss-card {
  position: absolute;
  top: 115px;
  left: 173px;
}

.player-button-container {
  position: absolute;
  top: 135px;
  left: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.player-button {
  all: unset;
  width: 135px;
  height: 30px;
  cursor: pointer;
}
.player-button:hover {
  background-position: 0 -30px;
}
.player-button.active {
  background-position: 0 -60px;
}

.gotofridge-button {
  all: unset;
  position: absolute;
  bottom: 43px;
  right: 35px;
  cursor: pointer;
  width: 141px;
  height: 61px;
  background-image: url("assets/guild-photo-2023/gotofridge_button.png");
}
.gotofridge-button:hover {
  background-position: 0 -61px;
}
.gotofridge-button:active {
  background-position: 0 -122px;
}